@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Calendar Style Sheet
      Author: Jonathan Barrett   
      Date:  2023-03-27  

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/

@media only screen and (max-width: 640px) {
table, tbody, tr, td, th, caption {
   display: block;
}

thead, h1{
   display: none;
}

caption {
   color: white;
   background-color: #333;
   font-size: 1.5em;
   line-height: 2em;
}
td {
   border: 1px dotted grey;
   color: rgb(12,12, 145);
   position: relative;
   padding-left: 40%;
   min-height: 40px;
}

tr:nth-of-type(odd){
   background-color: rgb(255,235,178);
   border: 2px solid gray;
}

td::before{
   content: attr(data-date);
   position: absolute;
   left: 0px;
   top: 0%;
   width: 40%;
   padding: 5px;

}
}
   



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
   table {
      background-image: url("lht_photo1.png");
      background-repeat:no-repeat ;
      background-position: right bottom;
      background-size: 40% 100%;
      border: 6px;
      border-color:rgb(154, 64, 3);
      border-style: double;
      border-collapse: collapse;
      margin: 20px auto 20px auto;
      table-layout: fixed;
      width: 85%;
      
   }

   th, td{
      border: 1px;
      border-style: solid;
      border-color: grey;
      font-size: 0.85em;
      font-weight: normal;
      padding: 5px;
      width: 14.28%;
      vertical-align: top;
      word-wrap: break-word;
   }

   td {
      background-color: rgb(171,171,171, 0.6);
      color: rgb(11,12,145);
   }

   td[date-date*="Sep"] {
      background-color: rgb(232,214,148,0.6);
      box-shadow: inset 0px 0px 20px gray;
   }

   caption{
      caption-side: top;
      text-align: center;
      padding-bottom: 10px;
      font-size: 1.2em;
      letter-spacing: 3px;
   }
   thead th{
      background-color: rgb(154,64,3);
      color: white;
   }



}